<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ymr.common">

    <application>

        <activity android:name=".ui.activity.WebViewActivity"
            android:screenOrientation="portrait"
            />

        <receiver android:name=".NetBroadcastReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
